server:
  interface: 127.0.0.1
  port: {{ unbound_port }}
  do-ip4: {{ 'yes' if do_ip4 else 'no' }}
  do-ip6: {{ 'yes' if do_ip6 else 'no' }}
  prefer-ip6: {{ 'yes' if prefer_ip6 else 'no' }}
  do-udp: {{ 'yes' if do_udp else 'no' }}
  do-tcp: {{ 'yes' if do_tcp else 'no' }}
  root-hints: "/var/lib/unbound/root.hints"
  harden-glue: yes
  harden-dnssec-stripped: yes
  use-caps-for-id: no
  edns-buffer-size: 1472
  prefetch: yes
  num-threads: {{ num_threads }}
  so-rcvbuf: {{ so_rcvbuf }}

  # Private address space (blocks forwarding of local nets to upstreams)
  private-address: 192.168.0.0/16
  private-address: 169.254.0.0/16
  private-address: 172.16.0.0/12
  private-address: 10.0.0.0/8
  private-address: fd00::/8
  private-address: fe80::/10

  include: "/etc/unbound/unbound.conf.d/*.conf"
