# SSHD Config for Raspberry Pi base setup

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
AllowTcpForwarding yes
Subsystem sftp /usr/lib/openssh/sftp-server

AllowUsers fixer
AllowGroups admin
